<div id="<%= dom_id(comment) %>">
  <p>Comment: <%= comment.body %></p>
  <p><%= link_to "Delete", discussion_comment_path(@discussion, comment), method: :delete, data: {confirm: "Are you sure?"}, remote: true %></p>
</div>