<h1>Tasks</h1>

<% @task.each do |task| %>
  <p>Title: <%= task.title %></p>
  <p>Due Date: <%= task.due_date %></p>
  <p><%= link_to "Edit", edit_project_task_path(task) %></p>
  <p><%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %></p>
  <hr>
<% end %>